{% extends "layout.html" %}

{% block title %}
    First Question
{% endblock %}

{% block main %}




    <div class="text">
        <p id="parag">
            <b>Спершу ми зазирнем до Забороненого лісу. Хоча тут він зовсім не заборонений &#128512<br>
                Йди туди, куди веде карта.</b>
        </p>
    </div>

    <center>
        <img width="700" src="{{ url_for('static', filename='ph/park.jpg')}}"  id="MyImage" onclick="makeItFullscreen()"/>
            <p class="cord">Координати: 50.451477, 30.458077</p>
    </center>

    <div class="text">
        <p id="parag">
            <b>Погуляй алеями і дай відповідь на питання: <br>
                Яку тваринку тут найчастіше можна зустріти?</b>
        </p>
    </div>

    <div class="form">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="animal" name="animal" placeholder="Введи назву тваринки" type="text">
    </div>
        <br>
    <form class="col-md-12 text-center">
        <button class="btn btn-lg btn-primary" type="submit" id="sub">Перевіримо?</button>
        <p id="answer"></p>
    </form>
        <br>
    <form action="/third" method="post">
        <div class="col-md-12 text-center">
            <button  class="btn btn-lg btn-primary" type="submit">Далі!</button>
        </div>
            </form>


    <script>

                    document.querySelector('#sub').addEventListener('click', function ()
                    {
                     let input = document.querySelector('input');
                     if (input.value.toUpperCase() === "БІЛКА")
                     {
                         input.style.backgroundColor = 'green';
                         document.querySelector('#answer').innerHTML = 'ПРАВИЛЬНО!';
                     }
                     else
                     {
                         input.style.backgroundColor = 'red';
                         document.querySelector('#answer').innerHTML = 'СПРОБУЙ ЩЕ!';
                     }
                     });
                 </script>
       {% endblock %}



